.infoBox {
  width: 250px;
  padding: 0; }
  .infoBox > img {
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    background: white;
    border-radius: 50%;
    padding: 3px; }
  .infoBox .body {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
    background: white;
    padding: 0; }
    .infoBox .body .ui-tabs-panel {
      padding: 0; }
    .infoBox .body a {
      text-decoration: none;
      outline: none;
      color: #394853;
      font-family: Poppins; }
      .infoBox .body a .image {
        position: relative; }
        .infoBox .body a .image .item-bckg {
          height: 135px;
          background-position: center;
          background-size: cover; }
        .infoBox .body a .image .cat-icon {
          position: absolute;
          top: 110px;
          left: 50%;
          transform: translateX(-50%);
          background: white;
          border-radius: 50%;
          padding: 3px; }
          .infoBox .body a .image .cat-icon img {
            height: 46px; }
      .infoBox .body a .text {
        padding: 10px; }
        .infoBox .body a .text h4 {
          margin: 0;
          margin-top: 20px;
          font-size: 19px;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 1; }
        .infoBox .body a .text p {
          margin: 5px 0;
          font-size: 13px;
          font-weight: 400; }
          .infoBox .body a .text p:last-child {
            margin: 0;
            text-transform: uppercase; }
    .infoBox .body:hover {
      color: #394853;
      text-decoration: none; }
    .infoBox .body .navbar {
      background: white;
      border: none;
      padding: 0 10px 10px; }
      .infoBox .body .navbar li {
        margin: 0 !important;
        padding: 0 !important;
        border: none;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: rgba(0, 0, 0, 0.1); }
        .infoBox .body .navbar li.ui-tabs-active {
          background: rgba(0, 0, 0, 0.4); }
  .infoBox .triangle-with-shadow {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -20px;
    overflow: hidden;
    z-index: 1; }
    .infoBox .triangle-with-shadow:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background: white;
      transform: rotate(45deg) translateX(-50%);
      top: 23px;
      left: 50%;
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4); }
